

.roririro-auroratech-section {
    position: relative;
    width: 100%;
    height: 60vw;
    text-align: center;
    background-color: #000; /* Черный фон */
    width: 100%;
    min-height: 100vh; /* На всю высоту экрана (опционально) */
    position: relative; /* Для позиционирования дочерних элементов */
    overflow: hidden; /* Чтобы скрыть выходящие за пределы элементы */
    border-radius: 8vw 8vw 0 0; /* Закругление только нижних углов */
}

.roririro-auroratech-section2 {
    position: relative;
    width: 10%;
    height: 10vw;
    text-align: center;
}

.roririro-auroratech-island {
    position: absolute;
    bottom: 4vw;
    left: 6vw;
    width: 16vw;
    z-index: 3;
    animation: roririro-auroratech-float 3s ease-in-out infinite;
}

@keyframes roririro-auroratech-float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.roririro-auroratech-character {
    position: absolute;
    bottom: 10vw;
    left: 74vw;
    width: 20vw;
    z-index: 3;
    animation: roririro-auroratech-float 3s ease-in-out infinite;
}

.roririro-auroratech-character2 {
    position: absolute;
    bottom: 4vw;
    left: 70vw;
    width: 28vw;
    z-index: 2;
    animation: roririro-auroratech-float 3s ease-in-out infinite;
}

.roririro-auroratech-character3 {
    position: absolute;
    bottom: -1.5vw;
    left: 3vw;
    width: 20vw;
    z-index: 2;
    animation: roririro-auroratech-float 3s ease-in-out infinite;
}

.roririro-auroratech-character4 {
    position: absolute;
    bottom: 1vw;
    left: 34.1vw;
    width: 30vw;
    z-index: 2;
}

.roririro-auroratech-cloud-container {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}

.roririro-auroratech-cloud-image {
    width: 40vw;
}

.roririro-auroratech-cloud-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000;
    font-size: 24px;
    font-weight: bold;
}

.roririro-auroratech-oval-container {
    position: absolute;
    bottom: 27%;
    left: 50%;
    min-width: 150vh; /* На всю высоту экрана (опционально) */
    transform: translateX(-50%);
    z-index: 1;
}

.roririro-auroratech-oval-image {
    width: 120vw;
    height: 10vw;
}

.roririro-auroratech-ray {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35%;
    height: 30%;
    background: radial-gradient(
        circle,
        rgba(0, 234, 255, 0.7),
        rgba(22, 61, 109, 0.5),
        rgba(0, 163, 125, 0.5),
        transparent 200%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.roririro-auroratech-ray1 {
    transform: translate(-50%, -50%) rotate(0deg);
    animation-name: roririro-auroratech-rotate1;
}

.roririro-auroratech-ray2 {
    transform: translate(-50%, -50%) rotate(60deg);
    animation-name: roririro-auroratech-rotate2;
}

.roririro-auroratech-ray3 {
    transform: translate(-50%, -50%) rotate(120deg);
    animation-name: roririro-auroratech-rotate3;
}

.roririro-auroratech-ray4 {
    transform: translate(-50%, -50%) rotate(180deg);
    animation-name: roririro-auroratech-rotate4;
}

.roririro-auroratech-ray6 {
    transform: translate(-50%, -50%) rotate(300deg);
    animation-name: roririro-auroratech-rotate6;
}


@keyframes roririro-auroratech-rotate1 {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

@keyframes roririro-auroratech-rotate2 {
    0% { transform: translate(-50%, -50%) rotate(60deg); }
    100% { transform: translate(-50%, -50%) rotate(420deg); }
}

@keyframes roririro-auroratech-rotate3 {
    0% { transform: translate(-50%, -50%) rotate(120deg); }
    100% { transform: translate(-50%, -50%) rotate(480deg); }
}

@keyframes roririro-auroratech-rotate4 {
    0% { transform: translate(-50%, -50%) rotate(180deg); }
    100% { transform: translate(-50%, -50%) rotate(540deg); }
}

@keyframes roririro-auroratech-rotate6 {
    0% { transform: translate(-50%, -50%) rotate(300deg); }
    100% { transform: translate(-50%, -50%) rotate(660deg); }
}

.roririro-auroratech-oval-text {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Genshin_Impact', sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    background: linear-gradient(180deg, #019884, #0f88eb,#14bed5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    width: 100%;
}
