@font-face {
    font-family: 'Lilita One Regular';
    src: url("../../fonts/Lilita One Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'McSkill', sans-serif;
    background-color: #ffffff;
}
.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(255, 255, 255);
    opacity: 0;
    animation: fadeIn 2s ease-out forwards; 
    z-index: 1; 
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}
.pixelmon-title {
    font-size: 5rem;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    animation: float 10s infinite ease-in-out; 
    margin: 0; 
}
.ultimate-title {
    font-size: 4rem;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    animation: float 10s infinite ease-in-out; 
    margin: 0;
}
.wipe-update-text {
    font-size: 1.8rem;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    animation: float 10s infinite ease-in-out; 
    margin: 0; 
}
.start-game-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    letter-spacing: -1px;
    color: white;
    background: linear-gradient(45deg, #00B7AF, #4AE682);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.4s ease;
    z-index: 10;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0), 
                0 0 40px rgba(255, 251, 0, 0), 
                0 0 80px rgba(0, 255, 255, 0);
    overflow: hidden;
    margin-top: 5px;
    user-select: none;

}
.start-game-btn:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8), 
                0 0 30px rgba(255, 251, 0, 0.2), 
                0 0 60px rgba(0, 255, 255, 0.6);
    transform: scale(1.05);
}
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
body::-webkit-scrollbar {
    width: 8px; 
}
body::-webkit-scrollbar-thumb {
    background: #01b853; 
    border-radius: 10px; 
    box-shadow: 
        0 -2px 4px rgba(0, 0, 0, 0.3), 
        0 2px 4px rgba(0, 0, 0, 0.3),    
        0 1px 2px rgba(0, 0, 0, 0.1); 
    animation: scrollThumb 2s infinite;
}
@keyframes scrollThumb {
    0% { transform: translateY(0); }
    50% { transform: translateY(5px); }
    100% { transform: translateY(0); }
}
body::-webkit-scrollbar-track {
    background: #ffffff; 
    border-radius: 10px; 
}
::-webkit-scrollbar {
    width: 0px; 
    height: 8px; 
}
@keyframes scrollBackground {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}
::-webkit-scrollbar-track {
    background: linear-gradient(180deg, 
        #065096, 
        #1A6BAE, 
        #2A8BC9, 
        #5AB1E8, 
        #A0D8FF
    );
    background-size: 300%; 
    animation: scrollBackground 10s linear infinite; 
    border-radius: 20px; 
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #00B7AF, #4AE682); 
    border-radius: 10px; 
}
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #4AE682, #00B7AF); 
}
.main-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, #0656A0, #2478e6, #0656A0);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    z-index: 1000;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    transition: transform 1.5s ease, box-shadow 1.5s ease;
    padding: 0px 0; 
    transform: translateY(100);
}
.main-navbar:hover {
    transform: translateY(-5px);
    box-shadow: inset 0 -2px 10px rgba(255, 255, 255, 0.3);
}
.logo-img {
    height: auto;
    width: 220px;
    cursor: pointer;
    margin-left: 2%;
    transition: transform 0.3s ease;
    user-select: none;
}
.logo-img:hover {
    transform: scale(1.05);
}
.nav-item-link {
    color: white !important;
    font-size: 18px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    transition: color 0.3s ease, transform 0.3s ease; 
    display: inline-block; 
    width: auto; 
    user-select: none;
}
.nav-item-link:hover {
    color: #ffffff; 
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7); 
    transform: scale(1.1);
}
.main-navbar[aria-expanded="true"] .nav-item-link {
    background: none; 
    padding: 8px; 
    margin: 5px 0; 
    width: 100%; 
    text-align: center; 
    border-radius: 0; 
}
.main-navbar[aria-expanded="true"] .nav-item-link:hover {
    background: rgba(255, 255, 255, 0.1); 
    transform: none; 
}
.download-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    letter-spacing: -1px;
    color: white;
    background: linear-gradient(45deg, #00B7AF, #4AE682);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.4s ease;
    z-index: 10;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0), 
                0 0 40px rgba(255, 251, 0, 0), 
                0 0 80px rgba(0, 255, 255, 0);
    overflow: hidden;
    margin-top: 5px;
    user-select: none;

}
.download-btn:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8), 
                0 0 30px rgba(255, 251, 0, 0.2), 
                0 0 60px rgba(0, 255, 255, 0.6);
    transform: scale(1.05);
    user-select: none;
}
.main-navbar[aria-expanded="true"] .download-btn {
    width: 80%; 
    margin: 10px auto; 
    display: block;
    text-align: center;
    padding: 8px 16px; 
    font-size: 18px;
    user-select: none;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}
.nav-toggler {
    border: none;
    background: transparent;
    padding: 10px;
    cursor: pointer;
    outline: none;
    transition: transform 0.3s ease;
}
.nav-toggler .navbar-toggler-icon {
    background-image: none;
    width: 30px;
    height: 3px;
    background-color: white;
    position: relative;
    transition: background-color 0.3s ease;
}
.nav-toggler .navbar-toggler-icon::before,
.nav-toggler .navbar-toggler-icon::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: white;
    left: 0;
    transition: transform 0.3s ease, top 0.3s ease;
}
.nav-toggler .navbar-toggler-icon::before {
    top: -8px;
}
.nav-toggler .navbar-toggler-icon::after {
    top: 8px;
}
.nav-toggler[aria-expanded="true"] .navbar-toggler-icon {
    background-color: transparent;
}
.nav-toggler[aria-expanded="true"] .navbar-toggler-icon::before {
    top: 0;
    transform: rotate(45deg);
}
.nav-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
    top: 0;
    transform: rotate(-45deg);
}
.nav-toggler:hover .navbar-toggler-icon,
.nav-toggler:hover .navbar-toggler-icon::before,
.nav-toggler:hover .navbar-toggler-icon::after {
    background-color: #4AE682;
}
.glow {
    animation: glow 5s infinite alternate;
}
@keyframes glow {
    0% {
        filter: brightness(100%);
    }
    100% {
        filter: brightness(120%);
    }
}
.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; 
    max-width: 700px; 
    height: 90%; 
    max-width: 450px; 
    max-height: 550px; 
    padding: 35px; 
    background-image: url('../../img/mobal/mobal.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    text-align: center;
    opacity: 0;
    animation: fadeIn 0.8s forwards;
    overflow: visible;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 20px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0);    
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.modal-title2 {
    text-align: center;
    font-size: 24px; 
    margin: 10px 0; 
    color: #ffffff;
    position: relative;
}
.modal-button {
    width: 80%; 
    max-width: 300px; 
    height: 50px; 
    margin: 10px 0; 
    padding: 10px 20px; 
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px; 
    background: linear-gradient(25deg, #004fb7, #4acfe6);
    border: none;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px; 
    height: 70px; 
    user-select: none;
}
.modal-button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5), 0 0 30px rgba(132, 239, 247, 0.3);
}
.modal-button img {
    width: 45px;
    height: auto; 
    margin-right: 10px; 
    user-select: none;
}
.close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
    background: linear-gradient(180deg, #4AE682, #00B7AF);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #ffffff; 
    user-select: none;
}
.close:hover,
.close:focus {
    color: #ffffff; 
    transform: rotate(90deg); 
    background: linear-gradient(0deg, #00B7AF, #4AE682)
}
footer {
    background-image: url('../../img/niz/niz.webp');
    background-size: cover;
    background-position: center;
    border-top-left-radius: 62px;
    border-top-right-radius: 62px;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 1);
    z-index: 1;
    overflow: hidden; 
}
footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.1); 
    z-index: -1; 
}
.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    gap: 20px;
    user-select: none;
}
.logo img {
    max-width: 180px;
    height: auto;
    transition: transform 0.3s ease;
}
.left-section {
    display: flex;
    align-items: center;
    gap: 10px;
}
.top-buttons {
    display: flex;
    gap: 10px;
    user-select: none;
}
.footer-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
.footer-button:hover {
    transform: scale(1.2);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}
.button1 {
    background-image: url('../../img/niz/ds.webp');
    user-select: none;
}
.button2 {
    background-image: url('../../img/niz/vk.webp');
    user-select: none;
}
.button3 {
    background-image: url('../../img/niz/tg.webp');
    user-select: none;
}
.center-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    user-select: none;
}
.gradient-button {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(0deg, #00B7AF, #4AE682);
    border-radius: 60px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-size: 18px;
    cursor: pointer;
    user-select: none;
}
.gradient-button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}
.right-buttons {
    display: flex;
    gap: 10px;
    user-select: none;
}
.modern-card {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 7vw; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    background-color: rgba(255, 255, 255, 0); 
    color: white;
    margin-bottom: 20px; 
    aspect-ratio: 916 / 500; 
}
.card-background {
    position: relative;
    width: 100%;
    height: 100%;
}
.card-background img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: none; 
}
.card-background .overlay-bg {
    left: auto; 
    right: 0; 
    width: 40%; 
    object-fit: contain; 
    height: 100%; 
}
.card-background .overlay-bg2{
left: auto; 
right: 0; 
width: 40%; 
object-fit: contain; 
height: 100%; 
}
.card-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    padding: 20px;
    box-sizing: border-box;
}
.text-overlay {
    text-align: left; 
    max-width: 50%; 
    padding-right: 20px; 
}
.text-overlay2 {
    text-align: center; 
    max-width: 100%; 
    padding-right: 20px; 
}
.text-overlay h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.text-overlay p {
    font-size: 1.4rem;
    line-height: 1.5;
}
.separator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5vw 0; 
    position: relative;
    font-size: var(--font-size, 5vw); 
    background: linear-gradient(to right, var(--color1, #0084ff), var(--color2, #00ff6a));
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-clip: text; 
    color: transparent; 
}
.separator::before,
.separator::after {
    content: '';
    flex: 1;
    height: 0.3vw; 
    background: linear-gradient(90deg, #0084ff, #00ff84, #00eeff); 
    background-size: 300% 100%; 
    animation: pulse 1000000s infinite, colorShift 3s infinite; 
    margin: 0 3vw; 
}
@keyframes pulse {
    0%, 100% {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(1.1);
    }
}
@keyframes colorShift {
    0% {
        background-position: 0% 50%; 
    }
    50% {
        background-position: 100% 50%; 
    }
    100% {
        background-position: 0% 50%; 
    }
}
.separator span {
    font-size: 1.5rem; 
    text-transform: uppercase;
}
.content-section {
    padding: 2rem 0;
}
.card-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 2rem;
}
#modersCards {
    gap: 1.5rem;
    padding: 0 1rem;
}
.staff-card {
    background-image: url('../../img/osnova/fon.png');
    background-size: cover;
    background-position: center;
    border-radius: 60px;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);;
    z-index: 1;
    overflow: hidden; 

}
.staff-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.5);
}
.card-img-top {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #fff;
    margin-top: 1rem;
    object-fit: cover;
}
.staff-card-body {
    padding: 1.5rem;
}
.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 0.5rem;
}
.card-text {
    font-size: 1rem;
    color: #000000;
    margin-bottom: 0;
    font-weight: 700;
}
.card-info {
    font-size: 1.2rem; 
    font-family: 'Lilita One Regular', sans-serif;
}
.card-info.visible {
    display: block; 
}
.card.hidden {
    opacity: 0; 
    transform: translateY(30px);
    }
.animate-on-scroll {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.animate-on-scroll.visible {
    opacity: 1;
    transform: translateY(0);
}
.icon-button {
    background: transparent; 
    border: none; 
    cursor: pointer;
    color: #ffffff; 
    font-size: 1.5rem;
    transition: color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; 
    padding: 0; 
    display: inline-flex; 
    justify-content: center; 
    align-items: center; 
    user-select: none;
}
.icon-button:hover {
    color: #000000; 
    transform: scale(1.1); 
}
.icon {
    width: 24px; 
    height: 24px; 
}
.botaniaextended-card2 {
    position: relative;
    border: none;
    border-radius: 60px;
    overflow: hidden;
    background-image: url('../../img/card/fonk3.webp'); 
    background-size: none; 
    background-position: center; 
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(110, 102, 102, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
.botaniaextended-card2:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    background-image: url('../../img/card/fonk3.1.webp'); 
}
.card-front2 {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    padding-top: 1rem; 
    transition: opacity 0.3s ease;
}
.card-front2 img {
    width: 100%;
    height: 15rem; 
    object-fit: contain; 
    border: none;
    display: block;
    margin-top: -2rem; 
}
.card-back2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, 0);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    box-sizing: border-box;
    transition: opacity 0.3s ease;
    font-family: 'Lilita One Regular', sans-serif;
}
.botaniaextended-card2:hover .card-front2 {
    opacity: 0;
}
.botaniaextended-card2:hover .card-back2 {
    opacity: 1;
}
.glow2 {
    width: 100%;
    max-width: 300px;
    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 15px;
}
.card-text2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #103720;
    margin-bottom: 0.5rem;
    text-align: center;
}
.default-font-small2 {
    font-size: 2rem;
    color: #103720;
    text-align: center;
    line-height: 1;
}
.animate-on-scroll2 {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.animate-on-scroll2.visible2 {
    opacity: 1;
    transform: translateY(0);
}
.botaniaextended-card9 {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    background: linear-gradient(90deg, #efe87d, #0fdfa3);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.card-front9 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.card-body9 {
    width: 70%; 
    left: 2%;
    padding: 10px 0px; 
    text-align: left; 
    position: relative;
    z-index: 1;
}
.card-text9 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #103720;
    line-height: 1.1;
    letter-spacing: 1px;
    padding-right: 15px; 
    font-family: 'Lilita One Regular', sans-serif; 
}
.glow9 {
    position: absolute;
    top: 47%;
    left: 85%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: auto;
    border-radius: 15px;
    object-fit: contain; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0);
    z-index: 0;
}
.card-link9 {
    color: #103720;
    text-decoration: none; 
    transition: color 0.3s ease;
}
.card-link9:hover {
    color: #ffffff;
}
.glow8 {
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
    width: 38%;
    height: auto;
    border-radius: 15px;
    object-fit: contain; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0);
    z-index: 0;
}
.botaniaextended-card8 {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    background: linear-gradient(280deg, #efe87d, #0fdfa3);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.card-text8 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #103720;
    line-height: 1.1;
    letter-spacing: 1px;
    padding-left: 15px;
    font-family: 'Lilita One Regular', sans-serif; 
}
.card-body8 {
    width: 50%;
    padding: 10px 0px; 
    text-align: right;
    position: relative;
    z-index: 1;
}
.botaniaextended-card7 {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    background: linear-gradient(90deg, #0fdfa3, #efe87d);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.card-front7 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.card-body7 {
    width: 70%; 
    left: 30%;
    padding: 10px 0px;
    text-align: right; 
    position: relative;
    z-index: 1;
}
.card-text7 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #103720;
    line-height: 1.1;
    letter-spacing: 1px;
    padding-right: 15px; 
    font-family: 'Lilita One Regular', sans-serif; 
}
.glow7 {
    position: absolute;
    top: 47%;
    left: -20%;
    transform: translate(-50%, -50%);
    width: 64.5%;
    height: auto;
    border-radius: 15px;
    object-fit: contain; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0);
    z-index: 0;
}
.card-link7 {
    color: #103720;
    text-decoration: none;
    transition: color 0.3s ease;
}
.card-link7:hover {
    color: #ffffff;
}
.glow6 {
    position: absolute;
    top: 47%;
    left: -20%;
    transform: translate(-50%, -50%);
    width: 79%;
    height: auto;
    border-radius: 15px;
    object-fit: contain; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0);
    z-index: 0;
}
.glow5 {
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: auto;
    border-radius: 15px;
    object-fit: contain; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0);
    z-index: 0;
}
.glow4 {
    position: absolute;
    top: 58%;
    left: 80.5%;
    transform: translate(-50%, -50%);
    width: 43%;
    height: auto;
    border-radius: 15px;
    object-fit: contain; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0);
    z-index: 0;
}
.glow3 {
    position: absolute;
    top: 47%;
    left: -24%;
    transform: translate(-50%, -50%);
    width: 59%;
    height: auto;
    border-radius: 15px;
    object-fit: contain; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0);
    z-index: 0;
}
.container99 {
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
    padding: 1.25rem; 
    max-width: 75rem; 
    margin: 0 auto;
    flex-wrap: wrap; 
}
.card99 {
    flex: 1 1 45%; 
    background-color: #f8f8f8;
    border-bottom-left-radius: 3.75rem;
    border-bottom-right-radius: 3.75rem; 
    padding: 1.25rem; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.151);
    position: relative;
    opacity: 0; 
    transform: translateY(7.5rem); 
    transition: opacity 2s ease, transform 2s ease, box-shadow 0.3s ease; 
}
.card99::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0.25rem; 
    background: linear-gradient(90deg, #00B7AF, #4AE682, #00B7AF);
}
.card99 h2 {
    font-size: 2rem; 
    color: #103720;
    text-align: center;
    line-height: 1;
    font-family: 'Lilita One Regular', sans-serif;
    font-weight: 500;
    margin-bottom: 1rem; 
}
.card99 p {
    font-size: 1.5rem; 
    color: #103720;
    text-align: center;
    line-height: 1.4;
    font-family: 'Lilita One Regular', sans-serif;
    font-weight: 500;
}
.card99.visible {
    opacity: 1; 
    transform: translateY(0); 
}
.niz12 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5vw 0; 
    position: relative;
    font-size: var(--font-size, 2vw); 
    background: linear-gradient(to right, var(--color1, #8000ff), var(--color2, #f700ff)); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-clip: text; 
    color: transparent;
}
.pulsate {
    animation: pulsate 2s infinite; 
}
.niz12 {
    font-size: 2em;
    color: #ffffff; 
    margin-bottom: 20px; 
}
.pulsate img {
    max-width: 100px; 
    height: auto;
}
    @keyframes pulsate {
        0% {
            transform: scale(1);
            opacity: 1;
        }
        50% {
            transform: scale(1.1); 
            opacity: 0.7; 
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }
        .container22 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap; 
}
.column {
    width: 30%;
    padding: 20px;
    border-radius: 30px;
    background-image: url('../../img/card/fonk4.png');
    flex: 1 1 20%; 
}
.cell {
    display: flex;
    align-items: center;
    padding: 15px;
    border: 5px solid;
    border-radius: 30px;
    background-color: #ffffff00;
    font-family: 'Lilita One Regular', sans-serif;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}
.cell:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.4);
}
.cell.visible {
    opacity: 1;
    transform: translateY(0);
}
.cell.hidden {
    opacity: 0;
    transform: translateY(30px);
}
.cell img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 15px;
    padding: 0px;
    box-sizing: border-box;
}
.cell p {
    margin: 0;
    font-size: 20px;
    text-align: left;
    flex: 1;
    color: #ffffff;
}
.column h2 {
    font-size: 3rem;
    background: linear-gradient(0deg, #ffffff, #ffffff);
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    color: transparent; 
    text-align: center;
    line-height: 1;
    font-weight: 300;
    font-family: 'Lilita One Regular', sans-serif;
    animation: fadeIn 2s ease-in-out;
}
.column h10 {
    font-size: 1.5rem;
    background: linear-gradient(90deg, #ffffff, #ffffff);
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    color: transparent; 
    text-align: center;
    line-height: 1;
    font-weight: 300;
    font-family: 'Lilita One Regular', sans-serif;
}
.cell.gold {
    border-color: #FFD700;
}
.cell.silver {
    border-color: #C0C0C0;
}
.cell.bronze {
    border-color: #CD7F32;
}
.cell.copper {
    border-color: #8e5822;
}
.cell.gray {
    border-color: #565454;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}