@media (max-width: 768px) {
    .pixelmon-title {
        font-size: 3rem;
    }

    .ultimate-title {
        font-size: 2.5rem;
    }

    .wipe-update-text {
        font-size: 1.2rem;
    }

    .start-game-btn {
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
    }
}

@media (max-width: 576px) {
    .pixelmon-title {
        font-size: 2.5rem;
    }

    .ultimate-title {
        font-size: 2rem;
    }

    .wipe-update-text {
        font-size: 1rem;
    }

    .start-game-btn {
        font-size: 1rem;
        padding: 0.4rem 0.8rem;
    }
}

@media (min-width: 1200px) {
    .pixelmon-title {
        font-size: 6rem;
    }

    .ultimate-title {
        font-size: 5rem;
    }

    .wipe-update-text {
        font-size: 2rem;
    }

    .start-game-btn {
        font-size: 2rem;
        padding: 1rem 2rem;
    }
}

@media (max-width: 768px) {
    body::-webkit-scrollbar {
        width: 6px;
    }

    body::-webkit-scrollbar-thumb {
        border-radius: 8px;
        box-shadow: 
            0 -1px 2px rgba(0, 0, 0, 0.3),
            0 1px 2px rgba(0, 0, 0, 0.3),
            0 1px 1px rgba(0, 0, 0, 0.1);
        animation: none;
    }

    body::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 8px;
    }
}

@media (max-width: 480px) {
    body::-webkit-scrollbar {
        width: 4px;
    }

    body::-webkit-scrollbar-thumb {
        border-radius: 6px;
        box-shadow: 
            0 -1px 1px rgba(0, 0, 0, 0.3),
            0 1px 1px rgba(0, 0, 0, 0.3);
    }

    body::-webkit-scrollbar-track {
        background: #e0e0e0;
        border-radius: 6px;
    }
}

@media (max-width: 768px) {
    ::-webkit-scrollbar {
        height: 6px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
        animation: none;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: #007bff;
        border-radius: 8px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #0056b3;
    }
}

@media (max-width: 992px) {
    .main-navbar {
        width: 90%;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .logo-img {
        width: 180px;
    }

    .nav-item-link {
        font-size: 18px;
        margin-right: 8px;
    }

    .download-btn {
        font-size: 18px;
        padding: 8px 16px;
    }
}

@media (max-width: 768px) {
    .main-navbar {
        width: 95%;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .logo-img {
        width: 150px;
    }

    .nav-item-link {
        font-size: 16px;
        margin-right: 5px;
    }

    .download-btn {
        font-size: 16px;
        padding: 6px 12px;
    }

    .nav-menu {
        background: linear-gradient(to bottom, #0656A0, #004fb7);
        border-radius: 20px;
        margin-top: 10px;
        padding: 10px;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
    }

    .nav-item {
        margin: 5px 0;
    }
}

@media (max-width: 480px) {
    .main-navbar {
        width: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .logo-img {
        width: 120px;
    }

    .nav-item-link {
        font-size: 14px;
    }

    .download-btn {
        font-size: 14px;
        padding: 5px 10px;
    }
}

@media (min-width: 1200px) {
    .modal-content {
        max-width: 600px;
        max-height: 700px;
        padding: 30px;
    }

    .modal-title2 {
        font-size: 28px;
    }

    .modal-button {
        font-size: 25px;
        height: 70px;
    }

    .modal-button img {
        width: 50px;
    }

    .close {
        font-size: 35px;
        width: 50px;
        height: 50px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .modal-content {
        max-width: 500px;
        max-height: 600px;
        padding: 25px;
    }

    .modal-title2 {
        font-size: 26px;
    }

    .modal-button {
        font-size: 25px;
        height: 70px;
    }

    .modal-button img {
        width: 50px;
    }

    .close {
        font-size: 30px;
        width: 45px;
        height: 45px;
    }
}

@media (max-width: 768px) {
    .modal-content {
        max-width: 400px;
        max-height: 500px;
        padding: 15px;
    }

    .modal-title2 {
        font-size: 20px;
    }

    .modal-button {
        font-size: 25px;
        height: 70px;
    }

    .modal-button img {
        width: 50px;
    }

    .close {
        font-size: 25px;
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 480px) {
    .modal-content {
        width: 100%;
        max-height: 500px;
        padding: 10px;
    }

    .modal-title2 {
        font-size: 18px;
    }

    .modal-button {
        font-size: 20px;
        height: 60px;
    }

    .modal-button img {
        width: 40px;
    }

    .close {
        font-size: 20px;
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 479px) {
    .modal-content {
        padding: 5px;
        max-height: 450px;
    }

    .modal-title2 {
        font-size: 16px;
    }

    .modal-button {
        font-size: 15px;
        height: 50px;
        width: 55%;
    }

    .modal-button img {
        width: 30px;
    }

    .close {
        font-size: 18px;
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .logo img {
        max-width: 120px;
    }

    .footer-button {
        width: 35px;
        height: 35px;
    }

    .gradient-button {
        font-size: 14px;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .logo img {
        max-width: 100px;
    }

    .footer-button {
        width: 30px;
        height: 30px;
    }

    .gradient-button {
        font-size: 12px;
        padding: 6px 12px;
    }

    .center-buttons,
    .right-buttons {
        flex-direction: column;
        gap: 8px;
    }
}

@media (max-width: 1024px) {
    .text-overlay h3 {
        font-size: 1.4rem;
    }

    .text-overlay p {
        font-size: 1rem;
    }

    .card-content {
        padding: 15px;
    }

    .card-background .overlay-bg {
        width: 50%;
    }

    .text-overlay {
        max-width: 65%;
    }
}

@media (max-width: 768px) {
    .text-overlay h3 {
        font-size: 1.2rem;
    }

    .text-overlay p {
        font-size: 0.8rem;
    }

    .card-content {
        padding: 10px;
    }

    .card-background .overlay-bg {
        width: 40%;
    }

    .text-overlay {
        max-width: 60%;
    }
}

@media (max-width: 600px) {
    .text-overlay h3 {
        font-size: 1.2rem;
    }

    .text-overlay p {
        font-size: 0.78rem;
    }

    .card-background .overlay-bg {
        width: 45%;
    }

    .text-overlay {
        max-width: 65%;
    }
}

@media (max-width: 480px) {
    .text-overlay h3 {
        font-size: 1rem;
    }

    .text-overlay p {
        font-size: 0.6rem;
    }

    .card-background .overlay-bg {
        width: 40%;
    }

    .text-overlay {
        max-width: 70%;
    }
}

@media (max-width: 320px) {
    .text-overlay h3 {
        font-size: 0.9rem;
    }

    .text-overlay p {
        font-size: 0.4rem;
    }

    .card-background .overlay-bg {
        width: 35%;
    }

    .text-overlay {
        max-width: 80%;
    }
}

@media (min-width: 768px) and (max-width: 800px) {
    .text-overlay h3 {
        font-size: 1.3rem;
    }

    .text-overlay p {
        font-size: 0.9rem;
    }

    .card-background .overlay-bg {
        width: 45%;
    }

    .text-overlay {
        max-width: 65%;
    }
}

@media (min-width: 480px) and (max-width: 600px) {
    .text-overlay h3 {
        font-size: 1.1rem;
    }

    .text-overlay p {
        font-size: 0.75rem;
    }

    .card-background .overlay-bg {
        width: 42%;
    }

    .text-overlay {
        max-width: 70%;
    }
}

@media (min-width: 400px) and (max-width: 480px) {
    .text-overlay h3 {
        font-size: 1rem;
    }

    .text-overlay p {
        font-size: 0.65rem;
    }

    .card-background .overlay-bg {
        width: 38%;
    }

    .text-overlay {
        max-width: 75%;
    }
}

@media (min-width: 300px) and (max-width: 400px) {
    .text-overlay h3 {
        font-size: 0.95rem;
    }

    .text-overlay p {
        font-size: 0.55rem;
    }

    .card-background .overlay-bg {
        width: 36%;
    }

    .text-overlay {
        max-width: 78%;
    }
}

@media (max-width: 1600px) {
    .card-title {
        font-size: 2.2rem;
    }

    .card-img-top {
        width: 90px;
        height: 90px;
    }

    .staff-card-body {
        padding: 1.2rem;
    }

    .card-title {
        font-size: 1.1rem;
    }

    .card-text {
        font-size: 0.9rem;
    }
}

@media (max-width: 1200px) {
    .card-title {
        font-size: 2rem;
    }

    .card-img-top {
        width: 80px;
        height: 80px;
    }

    .staff-card-body {
        padding: 1rem;
    }

    .card-title {
        font-size: 1rem;
    }

    .card-text {
        font-size: 0.8rem;
    }
}

@media (max-width: 992px) {
    .card-title {
        font-size: 1.75rem;
    }

    .card-img-top {
        width: 70px;
        height: 70px;
    }

    .staff-card-body {
        padding: 0.8rem;
    }

    .card-title {
        font-size: 0.9rem;
    }

    .card-text {
        font-size: 0.75rem;
    }
}

@media (max-width: 768px) {
    .card-title {
        font-size: 1.5rem;
    }

    .card-img-top {
        width: 60px;
        height: 60px;
    }

    .staff-card-body {
        padding: 0.6rem;
    }

    .card-title {
        font-size: 0.8rem;
    }

    .card-text {
        font-size: 0.7rem;
    }
}

@media (max-width: 576px) {
    .card-title {
        font-size: 1.25rem;
    }

    .card-img-top {
        width: 50px;
        height: 50px;
    }

    .staff-card-body {
        padding: 0.5rem;
    }

    .card-title {
        font-size: 0.7rem;
    }

    .card-text {
        font-size: 0.6rem;
    }
}

@media (max-width: 1600px) {
    .card-text2 {
        font-size: 1.4rem;
    }

    .default-font-small2 {
        font-size: 1.1rem;
    }
}

@media (max-width: 1200px) {
    .card-text2 {
        font-size: 1.3rem;
    }

    .default-font-small2 {
        font-size: 1rem;
    }
}

@media (max-width: 992px) {
    .card-text2 {
        font-size: 1.2rem;
    }

    .default-font-small2 {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .card-text2 {
        font-size: 1.1rem;
    }

    .default-font-small2 {
        font-size: 1rem;
    }
}

@media (max-width: 576px) {
    .card-text2 {
        font-size: 1rem;
    }

    .default-font-small2 {
        font-size: 0.8rem;
    }
}

@media (max-width: 1200px) {
    .small-image {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 992px) {
    .small-image {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 768px) {
    .small-image {
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 576px) {
    .small-image {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 1024px) {
    .text-overlay2 h3 {
        font-size: 1.4rem;
    }

    .text-overlay2 p {
        font-size: 1rem;
    }

    .card-content2 {
        padding: 15px;
    }

    .card-background2 .overlay-bg2 {
        width: 50%;
    }

    .text-overlay2 {
        max-width: 90%;
    }
}

@media (max-width: 768px) {
    .text-overlay2 h3 {
        font-size: 1.2rem;
    }

    .text-overlay2 p {
        font-size: 0.8rem;
    }

    .card-content2 {
        padding: 10px;
    }

    .card-background2 .overlay-bg2 {
        width: 40%;
    }

    .text-overlay2 {
        max-width: 90%;
    }
}

@media (max-width: 600px) {
    .text-overlay2 h3 {
        font-size: 1.2rem;
    }

    .text-overlay2 p {
        font-size: 0.78rem;
    }

    .card-background2 .overlay-bg2 {
        width: 45%;
    }

    .text-overlay2 {
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    .text-overlay2 h3 {
        font-size: 1rem;
    }

    .text-overlay2 p {
        font-size: 0.6rem;
    }

    .card-background2 .overlay-bg2 {
        width: 40%;
    }

    .text-overlay2 {
        max-width: 90%;
    }
}

@media (max-width: 320px) {
    .text-overlay2 h3 {
        font-size: 0.9rem;
    }

    .text-overlay2 p {
        font-size: 0.4rem;
    }

    .card-background2 .overlay-bg2 {
        width: 35%;
    }

    .text-overlay2 {
        max-width: 90%;
    }
}
@media (min-width: 768px) and (max-width: 800px) {
    .text-overlay h3 {
        font-size: 1.3rem;
    }

    .text-overlay p {
        font-size: 0.9rem;
    }

    .card-background .overlay-bg {
        width: 45%;
    }

    .text-overlay {
        max-width: 65%;
    }
}

@media (min-width: 480px) and (max-width: 600px) {
    .text-overlay h3 {
        font-size: 1.1rem;
    }

    .text-overlay p {
        font-size: 0.75rem;
    }

    .card-background .overlay-bg {
        width: 42%;
    }

    .text-overlay {
        max-width: 70%;
    }
}

@media (min-width: 400px) and (max-width: 480px) {
    .text-overlay h3 {
        font-size: 1rem;
    }

    .text-overlay p {
        font-size: 0.65rem;
    }

    .card-background .overlay-bg {
        width: 38%;
    }

    .text-overlay {
        max-width: 75%;
    }
}

@media (min-width: 300px) and (max-width: 400px) {
    .text-overlay h3 {
        font-size: 0.95rem;
    }

    .text-overlay p {
        font-size: 0.55rem;
    }

    .card-background .overlay-bg {
        width: 36%;
    }

    .text-overlay {
        max-width: 78%;
    }
}

.separator {
    font-size: calc(var(--font-size, 3.38rem) * 1.3);
    margin: 2rem 0;
}

.separator::before,
.separator::after {
    height: 2px;
    margin: 0 1rem;
}

.separator span {
    font-size: calc(2.2rem);
}

@media (max-width: 1200px) {
    .separator {
        font-size: calc(var(--font-size, 3.04rem) * 1.3);
        margin: 2rem 0;
    }

    .separator::before,
    .separator::after {
        height: 1.5px;
        margin: 0 1.5rem;
    }

    .separator span {
        font-size: calc(2);
    }
}

@media (max-width: 992px) {
    .separator {
        font-size: calc(var(--font-size, 2.70rem) * 1.3);
        margin: 1.5rem 0;
    }

    .separator::before,
    .separator::after {
        height: 1.2px;
        margin: 0 1.7rem;
    }

    .separator span {
        font-size: calc(1.6);
    }
}

@media (max-width: 768px) {
    .separator {
        font-size: calc(var(--font-size, 13.52vw) * 1.3);
        margin: 4vw 0;
    }

    .separator::before,
    .separator::after {
        height: 0.4vw;
        margin: 0 2.5vw;
    }

    .separator span {
        font-size: calc(1.4);
    }
}

@media (max-width: 600px) {
    .separator {
        font-size: calc(var(--font-size, 13.52vw) * 1.3);
        margin: 4vw 0;
    }

    .separator::before,
    .separator::after {
        height: 0.4vw;
        margin: 0 2.5vw;
    }

    .separator span {
        font-size: calc(1.2rem);
    }
}

@media (max-width: 480px) {
    .separator {
        font-size: calc(var(--font-size, 15.47vw) * 1.3);
        margin: 3vw 0;
    }

    .separator::before,
    .separator::after {
        height: 0.5vw;
        margin: 0 2vw;
    }

    .separator span {
        font-size: calc(1rem);
    }
}

@media (max-width: 320px) {
    .separator {
        font-size: calc(var(--font-size, 18.59vw) * 1.3);
        margin: 2vw 0;
    }

    .separator::before,
    .separator::after {
        height: 0.6vw;
        margin: 0 1.5vw;
    }

    .separator span {
        font-size: calc(0.8rem);
    }
}

@media (max-width: 1600px) {
    .card-title {
        font-size: 2.2rem;
    }

    .card-img-top {
        width: 90px;
        height: 90px;
    }

    .staff-card-body {
        padding: 1.2rem;
    }

    .card-title {
        font-size: 1.1rem;
    }

    .card-text {
        font-size: 0.9rem;
    }
}

@media (max-width: 1200px) {
    .card-title {
        font-size: 2rem;
    }

    .card-img-top {
        width: 80px;
        height: 80px;
    }

    .staff-card-body {
        padding: 1rem;
    }

    .card-title {
        font-size: 1rem;
    }

    .card-text {
        font-size: 0.8rem;
    }
}

@media (max-width: 992px) {
    .card-title {
        font-size: 1.75rem;
    }

    .card-img-top {
        width: 70px;
        height: 70px;
    }

    .staff-card-body {
        padding: 0.8rem;
    }

    .card-title {
        font-size: 0.9rem;
    }

    .card-text {
        font-size: 0.75rem;
    }
}

@media (max-width: 768px) {
    .card-title {
        font-size: 1.5rem;
    }

    .card-img-top {
        width: 60px;
        height: 60px;
    }

    .staff-card-body {
        padding: 0.6rem;
    }

    .card-title {
        font-size: 0.8rem;
    }

    .card-text {
        font-size: 0.7rem;
    }
}

@media (max-width: 576px) {
    .card-title {
        font-size: 1.25rem;
    }

    .card-img-top {
        width: 50px;
        height: 50px;
    }

    .staff-card-body {
        padding: 0.5rem;
    }

    .card-title {
        font-size: 0.7rem;
    }

    .card-text {
        font-size: 0.6rem;
    }
}

@media (max-width: 1600px) {
    .card-text2 {
        font-size: 1.4rem;
    }

    .default-font-small2 {
        font-size: 1.1rem;
    }
}

@media (max-width: 1200px) {
    .card-text2 {
        font-size: 1.3rem;
    }

    .default-font-small2 {
        font-size: 1rem;
    }
}

@media (max-width: 992px) {
    .card-text2 {
        font-size: 1.2rem;
    }

    .default-font-small2 {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .card-text2 {
        font-size: 1.1rem;
    }

    .default-font-small2 {
        font-size: 1rem;
    }
}

@media (max-width: 576px) {
    .card-text2 {
        font-size: 1rem;
    }

    .default-font-small2 {
        font-size: 0.8rem;
    }
}

@media (max-width: 1200px) {
    .small-image {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 992px) {
    .small-image {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 768px) {
    .small-image {
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 576px) {
    .small-image {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 1024px) {
    .text-overlay2 h3 {
        font-size: 1.4rem;
    }

    .text-overlay2 p {
        font-size: 1rem;
    }

    .card-content2 {
        padding: 15px;
    }

    .card-background2 .overlay-bg2 {
        width: 50%;
    }

    .text-overlay2 {
        max-width: 90%;
    }
}

@media (max-width: 768px) {
    .text-overlay2 h3 {
        font-size: 1.2rem;
    }

    .text-overlay2 p {
        font-size: 0.8rem;
    }

    .card-content2 {
        padding: 10px;
    }

    .card-background2 .overlay-bg2 {
        width: 40%;
    }

    .text-overlay2 {
        max-width: 90%;
    }
}

@media (max-width: 600px) {
    .text-overlay2 h3 {
        font-size: 1.2rem;
    }

    .text-overlay2 p {
        font-size: 0.78rem;
    }

    .card-background2 .overlay-bg2 {
        width: 45%;
    }

    .text-overlay2 {
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    .text-overlay2 h3 {
        font-size: 1rem;
    }

    .text-overlay2 p {
        font-size: 0.6rem;
    }

    .card-background2 .overlay-bg2 {
        width: 40%;
    }

    .text-overlay2 {
        max-width: 90%;
    }
}

@media (max-width: 320px) {
    .text-overlay2 h3 {
        font-size: 0.9rem;
    }

    .text-overlay2 p {
        font-size: 0.4rem;
    }

    .card-background2 .overlay-bg2 {
        width: 35%;
    }

    .text-overlay2 {
        max-width: 90%;
    }
}

@media (min-width: 768px) and (max-width: 800px) {
    .text-overlay2 h3 {
        font-size: 1.3rem;
    }

    .text-overlay2 p {
        font-size: 0.9rem;
    }

    .card-background2 .overlay-bg2 {
        width: 45%;
    }

    .text-overlay2 {
        max-width: 90%;
    }
}

@media (min-width: 480px) and (max-width: 600px) {
    .text-overlay2 h3 {
        font-size: 1.1rem;
    }

    .text-overlay2 p {
        font-size: 0.75rem;
    }

    .card-background2 .overlay-bg2 {
        width: 42%;
    }

    .text-overlay2 {
        max-width: 90%;
    }
}

@media (min-width: 400px) and (max-width: 480px) {
    .text-overlay2 h3 {
        font-size: 1rem;
    }

    .text-overlay2 p {
        font-size: 0.65rem;
    }

    .card-background2 .overlay-bg2 {
        width: 38%;
    }

    .text-overlay2 {
        max-width: 90%;
    }
}

@media (min-width: 300px) and (max-width: 400px) {
    .text-overlay2 h3 {
        font-size: 0.95rem;
    }

    .text-overlay2 p {
        font-size: 0.55rem;
    }

    .card-background2 .overlay-bg2 {
        width: 36%;
    }

    .text-overlay2 {
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    .small-image2 {
        width: 30px;
        height: 30px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .small-image2 {
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .small-image2 {
        width: 60px;
        height: 60px;
    }
}

@media (min-width: 1025px) {
    .small-image2 {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 768px) {
    .gif-image {
        max-width: 70%;
    }
}
@media (max-width: 480px) {
    .gif-image {
        max-width: 60%;
    }
}

@media (min-width: 1601px) {
    .container22 {
        gap: 20px;
    }

    .column {
        width: 100%;
        padding: 20px;
    }

    .cell {
        padding: 15px;
        margin-bottom: 20px;
    }

    .cell img {
        width: 80px;
        height: 80px;
    }

    .cell p {
        font-size: 20px;
    }

    .column h2 {
        font-size: 3rem;
    }

    .column h10 {
        font-size: 1.5rem;
    }
}

@media (max-width: 1600px) {
    .container22 {
        gap: 20px;
    }

    .column {
        width: 100%;
        padding: 20px;
    }

    .cell {
        padding: 15px;
        margin-bottom: 20px;
    }

    .cell img {
        width: 80px;
        height: 80px;
    }

    .cell p {
        font-size: 20px;
    }

    .column h2 {
        font-size: 3rem;
    }

    .column h10 {
        font-size: 1.5rem;
    }
}

@media (max-width: 1200px) {
    .container22 {
        gap: 15px;
    }

    .column {
        width: 100%;
        padding: 15px;
    }

    .cell {
        padding: 12px;
        margin-bottom: 15px;
    }

    .cell img {
        width: 70px;
        height: 70px;
    }

    .cell p {
        font-size: 15px;
    }

    .column h2 {
        font-size: 2.5rem;
    }

    .column h10 {
        font-size: 1.5rem;
    }
}

@media (max-width: 992px) {
    .container22 {
        gap: 15px;
    }

    .column {
        width: 100%;
        padding: 15px;
    }

    .cell {
        padding: 12px;
        margin-bottom: 15px;
    }

    .cell img {
        width: 60px;
        height: 60px;
    }

    .cell p {
        font-size: 12px;
    }

    .column h2 {
        font-size: 1.5rem;
    }

    .column h10 {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .container22 {
        flex-direction: column;
        gap: 10px;
    }

    .column {
        width: 100%;
        padding: 15px;
    }

    .cell {
        padding: 12px;
        margin-bottom: 15px;
    }

    .cell img {
        width: 70px;
        height: 70px;
    }

    .cell p {
        font-size: 20px;
    }

    .column h2 {
        font-size: 1.6rem;
    }

    .column h10 {
        font-size: 1.3rem;
    }
}






@media (max-width: 400px) {
    .container22 {
        flex-direction: column;
        gap: 10px;
    }

    .column {
        width: 100%;
        padding: 10px;
    }

    .cell {
        padding: 10px;
        margin-bottom: 10px;
    }

    .cell img {
        width: 80px;
        height: 80px;
    }

    .cell p {
        font-size: 16px;
    }

    .column h2 {
        font-size: 2rem;
    }

    .column h10 {
        font-size: 1.3rem;
    }

    .card-text9, .card-text7 {
        font-size: 0.6rem;
        font-family: 'Lilita One Regular', sans-serif;
        letter-spacing: 1px;
        padding-right: 15px;
        line-height: 0.9;
        font-weight: 500;
    }

    .botaniaextended-card9 {
        border-radius: 25px;
        padding: 1px;
    }

    .card-body9 {
        width: 75%;
        left: 5%;
        top: 5%;
        padding: 10px 0px;
        text-align: left;
        position: relative;
        z-index: 1;
    }

    .glow9 {
        left: 87%;
    }

    .glow8 {
        left: 82%;
        width: 40%;
    }

    .card-body7 {
        width: 74%;
        left: 25%;
        padding: 10px 0px;
        text-align: right;
        position: relative;
        z-index: 1;
    }

    .glow7 {
        left: -10%;
        width: 60%;
    }

    .glow6 {
        left: -13%;
        width: 65%;
    }

    .botaniaextended-card7 {
        border-radius: 25px;
        padding: 1px;
    }

    .glow5 {
        left: 88%;
        width: 37%;
    }

    .glow4 {
        left: 86%;
        width: 30%;
        top: 71%;
    }

    .glow3 {
        left: -15%;
        width: 49%;
        top: 50%;
    }

    .botaniaextended-card2 {
        border-radius: 20px;
    }

    .card-back2 {
        font-size: 0.6rem;
        font-family: 'Lilita One Regular', sans-serif;
        letter-spacing: 1px;
        padding-right: 15px;
        line-height: 0.9;
        font-weight: 500;
    }

    .default-font-small2 {
        font-size: 1.3rem;
        color: #103720;
        text-align: center;
        line-height: 1;
    }

    .card-text2 {
        font-size: 1.2rem;
        font-weight: bold;
        color: #103720;
        margin-bottom: 0.5rem;
        text-align: center;
    }

    .staff-card {
        border-radius: 30px;
    }
}







@media (max-width: 420px) {
    .container22 {
        flex-direction: column;
        gap: 10px;
    }

    .column {
        width: 100%;
        padding: 10px;
    }

    .cell {
        padding: 10px;
        margin-bottom: 10px;
    }

    .cell img {
        width: 80px;
        height: 80px;
    }

    .cell p {
        font-size: 16px;
    }

    .column h2 {
        font-size: 2rem;
    }

    .column h10 {
        font-size: 1.3rem;
    }

    .card-text9, .card-text7 {
        font-size: 0.6rem;
        font-family: 'Lilita One Regular', sans-serif;
        letter-spacing: 1px;
        padding-right: 15px;
        line-height: 0.9;
        font-weight: 500;
    }

    .botaniaextended-card9 {
        border-radius: 25px;
        padding: 1px;
    }

    .card-body9 {
        width: 75%;
        left: 5%;
        top: 5%;
        padding: 10px 0px;
        text-align: left;
        position: relative;
        z-index: 1;
    }

    .glow9 {
        left: 87%;
    }

    .glow8 {
        left: 82%;
        width: 40%;
    }

    .card-body7 {
        width: 74%;
        left: 25%;
        padding: 10px 0px;
        text-align: right;
        position: relative;
        z-index: 1;
    }

    .glow7 {
        left: -10%;
        width: 53%;
    }

    .glow6 {
        left: -13%;
        width: 60%;
    }

    .botaniaextended-card7 {
        border-radius: 25px;
        padding: 1px;
    }

    .glow5 {
        left: 88%;
        width: 37%;
    }

    .glow4 {
        left: 86%;
        width: 30%;
        top: 71%;
    }

    .glow3 {
        left: -15%;
        width: 49%;
        top: 50%;
    }

    .botaniaextended-card2 {
        border-radius: 20px;
    }

    .card-back2 {
        font-size: 0.6rem;
        font-family: 'Lilita One Regular', sans-serif;
        letter-spacing: 1px;
        padding-right: 15px;
        line-height: 0.9;
        font-weight: 500;
    }

    .default-font-small2 {
        font-size: 1.3rem;
        color: #103720;
        text-align: center;
        line-height: 1;
    }

    .card-text2 {
        font-size: 1.2rem;
        font-weight: bold;
        color: #103720;
        margin-bottom: 0.5rem;
        text-align: center;
    }

    .staff-card {
        border-radius: 30px;
    }
}






@media (max-width: 1050px) {
    .container22 {
        flex-direction: column;
        gap: 10px;
    }

    .column {
        width: 100%;
        padding: 10px;
    }

    .cell {
        padding: 10px;
        margin-bottom: 10px;
    }

    .cell img {
        width: 80px;
        height: 80px;
    }

    .cell p {
        font-size: 16px;
    }

    .column h2 {
        font-size: 2rem;
    }

    .column h10 {
        font-size: 1.3rem;
    }

    .card-text9, .card-text7 {
        font-size: 0.6rem;
        font-family: 'Lilita One Regular', sans-serif;
        letter-spacing: 1px;
        padding-right: 15px;
        line-height: 0.9;
        font-weight: 500;
    }

    .botaniaextended-card9 {
        border-radius: 25px;
        padding: 1px;
    }

    .card-body9 {
        width: 75%;
        left: 5%;
        top: 5%;
        padding: 10px 0px;
        text-align: left;
        position: relative;
        z-index: 1;
    }

    .glow9 {
        left: 87%;
    }

    .glow8 {
        left: 82%;
        width: 40%;
    }

    .card-body7 {
        width: 74%;
        left: 25%;
        padding: 10px 0px;
        text-align: right;
        position: relative;
        z-index: 1;
    }

    .glow7 {
        left: -10%;
        width: 50%;
    }

    .glow6 {
        left: -13%;
        width: 60%;
    }

    .botaniaextended-card7 {
        border-radius: 25px;
        padding: 1px;
    }

    .glow5 {
        left: 88%;
        width: 35%;
    }

    .glow4 {
        left: 83%;
        width: 35%;
        top: 61%;
    }

    .glow3 {
        left: -15%;
        width: 49%;
        top: 50%;
    }

    .botaniaextended-card2 {
        border-radius: 20px;
    }

    .card-back2 {
        font-size: 0.6rem;
        font-family: 'Lilita One Regular', sans-serif;
        letter-spacing: 1px;
        padding-right: 15px;
        line-height: 0.9;
        font-weight: 500;
    }

    .default-font-small2 {
        font-size: 1.3rem;
        color: #103720;
        text-align: center;
        line-height: 1;
    }

    .card-text2 {
        font-size: 1.2rem;
        font-weight: bold;
        color: #103720;
        margin-bottom: 0.5rem;
        text-align: center;
    }

    .staff-card {
        border-radius: 30px;
    }
}






@media (max-width: 768px) {
    .container99 {
        gap: 1rem;
        padding: 1rem;
    }

    .card99 {
        flex: 1 1 100%;
        padding: 1rem;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }

    .card99 h2 {
        font-size: 1.75rem;
    }

    .card99 p {
        font-size: 1.25rem;
    }

    .card99::before {
        height: 0.2rem;
    }
}




@media (min-width: 768px) and (max-width: 1024px) {
    .container99 {
        gap: 1.125rem;
        padding: 1.125rem;
    }

    .card99 {
        flex: 1 1 48%;
        padding: 1.125rem;
        border-bottom-left-radius: 3rem;
        border-bottom-right-radius: 3rem;
    }

    .card99 h2 {
        font-size: 1.875rem;
    }

    .card99 p {
        font-size: 1.375rem;
    }

    .card99::before {
        height: 0.225rem;
    }
}

@media (min-width: 1024px) {
    .container99 {
        gap: 1.25rem;
        padding: 1.25rem;
    }

    .card99 {
        flex: 1 1 45%;
        padding: 1.25rem;
        border-bottom-left-radius: 3.75rem;
        border-bottom-right-radius: 3.75rem;
    }

    .card99 h2 {
        font-size: 2rem;
    }

    .card99 p {
        font-size: 1.5rem;
    }

    .card99::before {
        height: 0.25rem;
    }
}

@media (max-width: 576px) {
    .niz12 {
        font-size: 1.2rem;
    }

    .pulsate {
        width: 90%;
    }
}