@font-face {
    font-family: 'McSkill';
    src: url("./fonts/McSkill.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Lilita One Regular';
    src: url("../../fonts/Lilita One Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'facon';
    src: url("../../fonts/facon.otf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nautilus';
    src: url("../../fonts/Nautilus.otf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Smeshariki';
    src: url("../../fonts/Smeshariki.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Serati';
    src: url("../fonts/Serati.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Genshin_Impact';
    src: url("../fonts/Genshin_Impact.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}


.dummy-section {
    height: 200px; /* Высота секции */
    background-color: transparent; /* Прозрачный фон */
    margin: 0; /* Убираем внешние отступы */
    padding: 0; /* Убираем внутренние отступы */
}